/* You can add global styles to this file, and also import other style files */
:root {
    /* Paleta de colores */
    --color-cafe-oscuro: #45332C;          /* Fondo Principal */
    --color-verde-musgo: #2D541E;          /* Fondo de Secciones */
    --color-lino-calido: #EBEAE3;          /* Texto Principal */
    --color-crema-vainilla: #F8F8F0;       /* Fondo de Tarjetas */
    
    /* Acentos */
    --color-oro-rico: #DAA520;             /* Títulos H2 */
    --color-oro-antiguo: #D4A559;          /* Botones Primarios (CTA) */
    --color-bronce-profundo: #8B6E4A;      /* Enlaces de Tarjetas */
    --color-celeste-ahumado: #6082B6;      /* Botones Secundarios */

    /* Colores de Feedback */
    --color-feedback-error: #B22222;
    --color-feedback-exito: #3CB371;
    --color-feedback-alerta: #FFD700;
}